@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    h2 {
        text-align: center;
        padding-top: 100px;
    }

    div {
        text-align: center;
    }

    .divider {
        padding: 50px;
    }

    .form {
        background-color: transparent;
        padding: 100px;
    }
</style>


    <h2>@ViewData["Title"]</h2>
    <div class="divider"></div>
    <div class="container-fluid" style="background-color:black;">
        <div style="margin-top:20px;" class="row-fluid">
            <div class="offset4 span4 well">
                <form method="post" class="form-horizontal form">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input asp-for="Input.Email" class="form-control" id="Input.Email" placeholder="Email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input asp-for=Input.Password class="form-control" id="Input.Password" placeholder="Password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

