
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="fullWidth">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form */
        .open-button {
            background-color: black;
            color: white;
            display: inline-block;
            position: relative;
            padding: 16px 20px;
            border: solid;
            border-color: black;
            cursor: pointer;
            opacity: 0.8;
            margin: 0 auto;
            width: 14.615861214%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            
        }

        .divider {
            width: 100px;
            height: auto;
            display: inline-block;
        }

        .fullWidth {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: initial;
            height: auto;
            background-image: url("http://images4.fanpop.com/image/photos/22100000/Colored-pencils-pencils-22186680-1600-1200.jpg");
            width: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            /*<img src="http://images4.fanpop.com/image/photos/22100000/Colored-pencils-pencils-22186680-1600-1200.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="228" style="margin-top: 63px;" data-iml="1551385465826" alt="Image result for colored pencil background"> }*/
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            
        }

        .right {
            right: 0;
            background-color: transparent;
        }

        .mystudent {
            padding-left: 220px;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            padding-top: 50px;
            font-size: 80px;
        }

        .btn {
            display: block;
            height: 50px;
            width: 186px;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: black;
            color: white;
            font-size: 14px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="col-xs-4">
        <p class="mystudent">myStudent</p>
    </div>

    @*<div class="split left">
        <div class="centered">
            <p class="mystudent">
                myStudent
            </p>
            <p style="font-family:Arial; font-size:20px; text-align: center;">
                An easy accessible way to view what's going on in your classroom today.
            </p>
        </div>
    </div>*@

        <form method="get">
            <div style="margin-left: 200px; padding-top:170px;">
                <button type="submit" class="open-button" asp-area="Identity" asp-page="/Account/Register">Register</button>
                <div class="divider"></div>
                <button type="submit" class="open-button" asp-area="Identity" asp-page="/Account/Login">Login</button>
            </div>
        </form>

</body>
</html>

