@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form */
        .open-button {
            background-color: transparent;
            color: black;
            display: inline-block;
            position: relative;
            padding: 16px 20px;
            border: solid;
            border-color: black;
            cursor: pointer;
            opacity: 0.8;
            margin: 0 auto;
            width: 14.615861214%;
        }

        .row {
            padding-top: 100px;
            text-align: center;
            margin-left: -20px;
            margin-right: -20px;
        }

        .divider {
            width: 100px;
            height: auto;
            display: inline-block;
        }

        .header {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 class="header">
            Welcome!
        </h1>

        <form method="get">
            <div class="row">
                <button type="submit" class="open-button" asp-area="Identity" asp-page="/Account/Register">Register</button>
                <div class="divider"></div>
                <button type="submit" class="open-button" asp-area="Identity" asp-page="/Account/Login">Login</button>
            </div>
        </form>
    </div>
</body>
</html>





