@model V2Capstone.Models.AnalyticsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/daypilot/daypilot-all.min.js" asp-append-version="true"></script>
@*<script src="~/js/Grid.js" asp-append-version="true"></script>*@

<link href="icons/style.css" rel="stylesheet" type="text/css">

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        ul.nav.nav-tabs {
            margin: 10px 0px;
        }

            ul.nav.nav-tabs li:not(.active) a {
                background-color: #eeeeee;
                color: grey;
            }

            ul.nav.nav-tabs li.active a {
                border-top: 3px solid #16a765;
            }

        .space {
            padding: 50px;
        }

        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #333;
            overflow: hidden;
            width: 100%;
            line-height: 40px;
            position: absolute;
            position: fixed;
            padding-top: 10px;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
        }

        .container2 {
            width: 80%;
            margin: auto;
            max-width: 1080px;
        }

        .mystudent {
            font-family: SimSun;
            font-size: 30px;
            display: inline-block;
        }

        h2 {
            text-align: center;
        }

    </style>
</head>
<body style="background-color: #FFFFFF;">

    <header class="topnav" style="top:0px;">
        <div class="container2">
            <p class="mystudent" style="color:#BDD3DE">my</p>
            <p class="mystudent" style="color:#BDD3DE; padding-right:100px;">Student</p>
            <a asp-area="" asp-controller="Chat" asp-action="Index" id="nav-button" style="color:#BDD3DE; padding:10px; font-size:20px;">Chat</a>
            <a asp-area="Identity" asp-page="/SendEnvelope" style="color:#BDD3DE; padding:10px; font-size:20px;">Send Document</a>
            <a asp-area="" asp-controller="TeacherModels" asp-action="ChosenParents" style="color:#BDD3DE; padding:10px; font-size:20px;">Send Alert</a>
            <a asp-area="" asp-controller="CustomGrid" asp-action="Index" style="color:#BDD3DE; padding:10px; font-size:20px;">My Grid</a>
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#BDD3DE; padding:10px; font-size:20px;">Logout</a>
        </div>
    </header>

    <h2 class="h2" style="font-family:'Global User Interface'; font-size:70px; padding-bottom:30px;"> Welcome @Html.DisplayFor(model => model.teacher.FirstName) @Html.DisplayFor(model => model.teacher.LastName)!</h2>

    <div class="space"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/js/Grid.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Grid.js"></script>

</body>
</html>


<div class="main">
    <div style="float:left; width: 150px;">
        <div id="nav"></div>
    </div>
    <div style="margin-left: 150px;">
        <div class="navi">
            <button id="previous">&laquo;</button>
            <button id="today">Today</button>
            <button id="next">&raquo;</button>
        </div>
        <div id="dp"></div>
    </div>
</div>

<div class="space"></div>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#getstudentdata">View All</a></li>
    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
</ul>

<div class="tab-content">
    <div id="getstudentdata" class="tab-pane fade-in active"></div>
    <div id="secondTab" class="tab-pane fade-in"></div>
</div>





<script>
    var url = "/GradeGrid/Index";
    $.get(url, null, function (data) {
        $("#getstudentdata").html(data);
    });


    var nav = new DayPilot.Navigator("nav");
    nav.showMonths = 3;
    nav.skipMonths = 3;
    nav.selectMode = "month";
    nav.onTimeRangeSelected = function (args) {
        dp.startDate = args.day;
        dp.update();
        dp.events.load("/api/events");
    };
    nav.init();


    var dp = new DayPilot.Month("dp");
    dp.onTimeRangeSelected = function (args) {
        DayPilot.Modal.prompt("Create a new event:", "Event").then(function (modal) {
            var dp = args.control;
            dp.clearSelection();
            if (!modal.result) {
                return;
            }
            var params = {
                start: args.start.toString(),
                end: args.end.toString(),
                text: modal.result,
                resource: args.resource
            };
            $.ajax({
                type: 'POST',
                url: '/api/events',
                data: JSON.stringify(params),
                success: function (data) {
                    dp.events.add(new DayPilot.Event(data));
                    dp.message("Event created");
                },
                contentType: "application/json",
                dataType: 'json'
            });
        });
    };
    dp.onEventMove = function (args) {
        var params = {
            id: args.e.id(),
            start: args.newStart.toString(),
            end: args.newEnd.toString()
        };
        $.ajax({
            type: 'PUT',
            url: '/api/events/' + args.e.id() + "/move",
            data: JSON.stringify(params),
            success: function (data) {
                dp.message("Event moved");
            },
            contentType: "application/json",
            dataType: 'json'
        });
    };
    dp.onEventResize = function (args) {
        var params = {
            id: args.e.id(),
            start: args.newStart.toString(),
            end: args.newEnd.toString()
        };
        $.ajax({
            type: 'PUT',
            url: '/api/events/' + args.e.id() + "/move",
            data: JSON.stringify(params),
            success: function (data) {
                dp.message("Event resized");
            },
            contentType: "application/json",
            dataType: 'json'
        });
    };
    dp.onBeforeEventRender = function (args) {
        args.data.backColor = args.data.color;
        args.data.areas = [
            { top: 3, right: 3, bottom: 3, icon: "icon-triangle-down", visibility: "Hover", action: "ContextMenu", style: "font-size: 12px; background-color: rgba(255, 255, 255, .5); border: 1px solid #aaa; padding: 3px; cursor:pointer;" }
        ];
    };
    dp.contextMenu = new DayPilot.Menu({
        items: [
            {
                text: "Delete",
                onClick: function (args) {
                    var e = args.source;
                    $.ajax({
                        type: 'DELETE',
                        url: '/api/events/' + e.id(),
                        success: function (data) {
                            dp.events.remove(e);
                            dp.message("Event deleted");
                        },
                        contentType: "application/json",
                        dataType: 'json'
                    });
                }
            },
            {
                text: "-"
            },
            {
                text: "Blue",
                icon: "icon icon-blue",
                color: "#a2c4c9",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Green",
                icon: "icon icon-green",
                color: "#b6d7a8",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Yellow",
                icon: "icon icon-yellow",
                color: "#ffe599",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Red",
                icon: "icon icon-red",
                color: "#ea9999",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
            {
                text: "Auto",
                color: "auto",
                onClick: function (args) { updateColor(args.source, args.item.color); }
            },
        ]
    });
    dp.init();

    dp.events.load("/api/events");


    function updateColor(e, color) {
        var params = {
            color: color
        };
        $.ajax({
            type: 'PUT',
            url: '/api/events/' + e.id() + '/color',
            data: JSON.stringify(params),
            success: function (data) {
                e.data.color = color;
                dp.events.update(e);
                dp.message("Color updated");
            },
            contentType: "application/json",
            dataType: 'json'
        });
    }

    $(document).ready(function () {

        $("#previous").click(function () {
            nav.select(nav.selectionDay.addMonths(-1));
        });

        $("#today").click(function () {
            nav.select(DayPilot.Date.today());
        });

        $("#next").click(function () {
            nav.select(nav.selectionDay.addMonths(1));
        });

    });

</script>
